@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.titulo-principal {
    text-align: center;
    font-size: 2em; /* 2em dobro da fonte base */
    margin: 0 0 1em;
    clear: left; /* limpa o float usado para a imagem 'utensilios.jpg' */
}

/* Página inicial */
.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left; /* descola o elemento da lateral e deixa os outros elementos ao redor */
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5; /* espaçamento entre linhas */
}

.itens:first-child { /* pega o primeiro elemento com classe */
    font-weight: bold;
}

.itens::before { /* acrescenta css antes do conteúdo */
    content: '★';
}

.imagem-beneficios {
    width: 60%;
    opacity: 1; /* vai de 0 a 1 */
    transition: .4s;
    box-shadow: 10px 10px 10px #000; /* x y blur expansão # */
}

.imagem-beneficios:hover {
    opacity: .3;
}

.video {
    width: 560px;
    margin: 2em auto;
}


/* Página produtos */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /* o padding e a borda serão incluídos na largura e na altura total */
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos li:active {
    border-color: #088C19;    
}

.produtos h2 {
    font-size: 26px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Página contato */
form {
    margin: 40px 0;
}

form label, 
form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width:40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /* scale aumenta o tamanho do item de forma proporcional */
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, 
th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

/* @media 'tipo de tela' and (max-width: ) */
@media screen and (max-width: 480px) {
    header {
        display: flex;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    .titulo-principal {
        margin-top: 1.5em;
        font-size: 1.5em;
    }
    
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video,
    .produtos {
        width: auto;
    }

    .principal,
    .mapa-conteudo {
        padding: 0 1em;
    }

    .lista-beneficios {
        padding: 0 0 1em 1em;
    }

    .lista-beneficios,
    .imagem-beneficios {
        width: 100%;
    }

    .imagem-beneficios {
        box-shadow: none;
    }

    .mapa {
        padding: 1em 0;
    }

    .beneficios {
        padding: .5em 0;
    }

    .video {
        padding: 0 1em;
    }

    .produtos li {
        display: block;
    }
}